@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-secondary/30;
    background-image:
      radial-gradient(at 0% 0%, rgba(16, 185, 129, 0.05) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(15, 23, 42, 0.05) 0px, transparent 50%);
    background-attachment: fixed;
  }
}